$font-montserrat: 'Montserrat Alternates', sans-serif;

// List of colors
$white: rgb(255, 255, 255);
$cyan:  rgb(0, 255, 255);
$dark-cyan1: rgb(36, 120, 121);
$dark-cyan2: rgb(10, 50, 69);
$cyan-blue: rgb(67, 180, 247);
$cyan-green: rgb(0, 255, 153);
$green: rgb(88, 247, 67);
$yellow: rgb(255, 255, 0);
$orange: rgb(255, 174, 61);
$magenta: rgb(234, 187, 255);
$pink: rgb(255, 61, 142);
$strong-pink: rgb(255, 0, 95);
$dark-blue1: rgb(23,33,47);
$dark-blue2: rgb(11, 10, 17);
$dark: rgb(5, 8, 1);

// Breakpoints
$break-small: 36rem;
$break-large: 102.4rem;

// Pixel in Rem
// $s01: 0.1rem;
// $s02: 0.2rem;
// $s03: 0.3rem;
// $s05: 0.5rem;
// $s10: 1rem;
// $s15: 1.5rem;
// $s20: 2rem;
// $m30: 3rem;
// $m40: 4rem;
// $m50: 5rem;
// $l60: 6rem;
// $l70: 7rem;